*.iml
.gradle

docs/Assignment Report/架構圖.docx
docs/Assignment Report/羽毛球拍1_0.png
docs/Assignment Report/羽毛球拍_0.png
docs/nRF52840_PS_v1.5.pdf
docs/XIAO_Big_Power_Small_Board_v20240307.pdf
docs/Assignment Report/2.psd
docs/Assignment Report/badminton_HAW_製圖_V4.pdf
docs/Assignment Report/be48d8cf-d763-42aa-a9e7-382c6ee0e00b.png
docs/Assignment Report/be48d8cf-d763-42aa-a9e7-382c6ee0e00b.psd
docs/Assignment Report/ChatGPT Image 2025年11月3日 下午04_10_24.png
docs/Assignment Report/ChatGPT Image 2025年11月3日 下午04_14_11.png
docs/Assignment Report/content1.jpg
docs/Assignment Report/content2.jpg
docs/Assignment Report/content3.jpg
docs/Assignment Report/Generated Image November 16, 2025 - 10_04AM.png
docs/Assignment Report/IMG_0085.jpg
docs/Assignment Report/IMG_0086.jpg
docs/Assignment Report/IMG_0087.jpg
docs/Assignment Report/size.docx
docs/Assignment Report/Smart_Badminton_Racket_System_Proposal.pptx
docs/Assignment Report/STL_size.docx
docs/Assignment Report/Untitled1_0.jpg
docs/Assignment Report/Untitled_0.jpg
docs/Assignment Report/工作分配架構.jpg
docs/Assignment Report/成大IoT羽毛球拍專案報告-第二組.docx
docs/Assignment Report/成大IoT羽毛球拍專案報告-第二組.pdf
docs/nRF52840_PS_v1.5.pdf
docs/XIAO_Big_Power_Small_Board_v20240307.pdf
docs/DataSheet/google-services.json

# macOS
.DS_Store
**/.DS_Store

# JetBrains
.idea/

# Android logs
smart_racket_app/android/br/dumpstate-*.txt
