.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/local.properties
android/app/google-services.json
.idea/
*.iml
.vscode/
.DS_Store
Thumbs.db